[seoTags]
==
<meta charset="utf-8">
<title>{{ this.page.meta_title ?: placeholder('pageTitle') }}</title>
<meta name="turbo-visit-control" content="disable" >
{% set nomeFile = this.page.fileName %} 
{% if nomeFile=="blog-post.htm" %}
    {% partial 'site/metapost' %}        
{% else %}
    {% component "seoTags"%}
{% endif %}
{% meta %}
<link rel="icon" type="image/png" href="{{ 'favicon.png'|media }}">
<link href="{{ ['assets/less/theme.less']|theme }}" rel="stylesheet">
{% styles %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ ['assets/js/app.js']|theme }}"></script>